extends layouts/default

block content
  include includes/main_content/top_section
  include includes/main_content/catalog_grid
  include includes/main_content/new_profiles
  include includes/main_content/favorites
  include includes/main_content/bottom_section
