.footer_about
  p.footer_about_text В интернет-магазине одежды и обуви Oskelly каждый может выбрать и купить одежду, обувь или аксессуар в 2 клика.
  p.footer_about_text В каталоге интернет-магазина Oskelly более 1000 брендов мужской, женской и детской обуви и одежды разных ценовых категорий, всего более 2 000 000 товаров.
  p.footer_about_text Кроме того, у нас есть аксессуары, косметика и парфюмерия, спортивные товары, и ассортимент постоянно пополняется!
  p.footer_about_text Со многими производителями Oskelly сотрудничает напрямую, в остальных случаях мы выбираем надежных, проbеренных поставщиков. Мы гарантируем подлинность товара, что подтверждается сертификатами.
