footer
  nav.footer_menu
  .footer_socials
  .footer_apps_link
  .social_widget
  .footer_about
    .row
      .columns В интернет-магазине одежды и обуви Oskelly каждый может выбрать и купить одежду, обувь или аксессуар в 2 клика.
        | В каталоге интернет-магазина Oskelly более 1000 брендов мужской, женской и детской обуви и одежды разных ценовых категорий, всего более 2 000 000 товаров.
        | Кроме того, у нас есть аксессуары, косметика и парфюмерия, спортивные товары, и ассортимент постоянно пополняется!
        | Со многими производителями Oskelly сотрудничает напрямую, в остальных случаях мы выбираем надежных, проверенных поставщиков. Мы гарантируем подлинность товара, что подтверждается сертификатами.
  .footer_payment
