.bottom_section_menu
  .row.large-up-3
    .column
      h4 Пригласить друзей
      a(href="#") Узнать больше
    .column
      h4 Правила и условия
      a(href="#") Узнать больше
    .column
      h4 Наши дополнительные пакеты
      a(href="#") Консьерж сервис
      a(href="#") Express выкуп
      a(href="#") VIP сервис
      a(href="#") Turbo продажа
