.bottom_section_menu
  .row.large-up-3
    .column.bottom_section_item
      .bottom_section_wrapper
        h4.bottom_section_title Пригласить друзей
        a.bottom_section_link(href="#") Узнать больше
    .column.bottom_section_item
      .bottom_section_wrapper
        h4.bottom_section_title Правила и условия
        a.bottom_section_link(href="#") Узнать больше
    .column.bottom_section_item
      .bottom_section_wrapper
        h4.bottom_section_title Наши дополнительные пакеты
        .bottom_section_link_wrap
          a.bottom_section_link(href="#") Консьерж сервис
          a.bottom_section_link(href="#") Express выкуп
          a.bottom_section_link(href="#") VIP сервис
          a.bottom_section_link(href="#") Turbo продажа
