-
  var slides = [
  "http://placehold.it/124x124",
  "http://placehold.it/124x124",
  "http://placehold.it/124x124",
  "http://placehold.it/124x124",
  "http://placehold.it/124x124",
  "http://placehold.it/124x124",
  "http://placehold.it/124x124",
  "http://placehold.it/124x124",
  ];

.profiles
  .row.column.text-center.small-up-2.medium-up-3.large-up-6
    h2.main_title Новые профили
    .flex-container
      for slide in slides
        .column.large-up-8
          img.thumbnail(src= slide)


