-
  var slides = [
  "images/slide1.png",
  "http://placehold.it/647x431",
  "images/slide1.png"
  ];
.swiper-container.columns.large-7
  .swiper-wrapper
    for slide in slides
      .swiper-slide
        img.thumbnail(src= slide)
  // Add Pagination
  .swiper-pagination
