-
  var items = [
  {
  "title":"Корзина",
  "class":"header_panel_cart"
  },
  {
  "title":"Профиль",
  "class":"header_panel_profile"
  },
  {
  "title":"Избранное",
  "class":"header_panel_favorites"
  },
  {
  "title":"Вход",
  "class":"header_panel_logout"
  }
  ];

.row.header_panel
  .header_contacts.columns.large-4.hide-for-medium-only.hide-for-small-only
    .header_contacts_phone: a(href="tel:88007654321") 8 (800) 765 43 21
    .header_contacts_apps: a(href="tel:88007654321") 8 (800) 765 43 21
  .header_logo.columns.small-12.large-4
    img(src="images/logo.svg")
  .header_panel_nav.columns.large-4.hide-for-medium-only.hide-for-small-only
    ul.menu.columns
      for item in items
        li(): a(href='#' class= item.class)= item.title
      li(): a.header_panel_messages(href='#') Сообщения
        span.badge.header_panel_bage 21
