.top-bar.hide-for-medium-only
  .row
    - var items = ["Гарантия подлинности","Контроль качества","Система оплаты", "Помощь и поддержка"];
    ul.menu.large-12
      each item in items.length ? items : ['There are no values']
        li
          a.text(href='#')= item

//nav.top_header_nav.navbar.navbar-toggleable-md.navbar-light.bg-faded
//  button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
//    span.navbar-toggler-icon
//  #navbarNav.collapse.navbar-collapse
//    ul.navbar-nav
//      li.nav-item.active
//        a.nav-link(href='#')
//          | Гарантия подлинности
//      li.nav-item
//        a.nav-link(href='#') Контроль качества
//      li.nav-item
//        a.nav-link(href='#') Система оплаты
//      li.nav-item
//        a.nav-link(href='#') Помощь и поддержка

// Start Top Bar

// End Top Bar


//hr
//.row.column
//  .callout.primary
//    h3 Really big special this week on items.
//hr
//.row.column.text-center
//  h2 Some Other Neat Products
//  hr
//.row.small-up-2.medium-up-3.large-up-6
//  .column
//    img.thumbnail(src='http://placehold.it/300x400')
//    h5 Nulla At Nulla Justo, Eget
//    p $400
//    a.button.small.expanded.hollow(href='#') Buy
//  .column
//    img.thumbnail(src='http://placehold.it/300x400')
//    h5 Nulla At Nulla Justo, Eget
//    p $400
//    a.button.small.expanded.hollow(href='#') Buy
//  .column
//    img.thumbnail(src='http://placehold.it/300x400')
//    h5 Nulla At Nulla Justo, Eget
//    p $400
//    a.button.small.expanded.hollow(href='#') Buy
//  .column
//    img.thumbnail(src='http://placehold.it/300x400')
//    h5 Nulla At Nulla Justo, Eget
//    p $400
//    a.button.small.expanded.hollow(href='#') Buy
//  .column
//    img.thumbnail(src='http://placehold.it/300x400')
//    h5 Nulla At Nulla Justo, Eget
//    p $400
//    a.button.small.expanded.hollow(href='#') Buy
//  .column
//    img.thumbnail(src='http://placehold.it/300x400')
//    h5 Nulla At Nulla Justo, Eget
//    p $400
//    a.button.small.expanded.hollow(href='#') Buy
//hr
//.row
//  .medium-4.columns
//    h4 Top Products
//    .media-object
//      .media-object-section
//        img.thumbnail(src='http://placehold.it/100x100')
//      .media-object-section
//        h5 Nunc Eu Ullamcorper Orci
//        p Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque.
//    .media-object
//      .media-object-section
//        img.thumbnail(src='http://placehold.it/100x100')
//      .media-object-section
//        h5 Nunc Eu Ullamcorper Orci
//        p Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque.
//    .media-object
//      .media-object-section
//        img.thumbnail(src='http://placehold.it/100x100')
//      .media-object-section
//        h5 Nunc Eu Ullamcorper Orci
//        p Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque.
//  .medium-4.columns
//    h4 Top Products
//    .media-object
//      .media-object-section
//        img.thumbnail(src='http://placehold.it/100x100')
//      .media-object-section
//        h5 Nunc Eu Ullamcorper Orci
//        p Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque.
//    .media-object
//      .media-object-section
//        img.thumbnail(src='http://placehold.it/100x100')
//      .media-object-section
//        h5 Nunc Eu Ullamcorper Orci
//        p Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque.
//    .media-object
//      .media-object-section
//        img.thumbnail(src='http://placehold.it/100x100')
//      .media-object-section
//        h5 Nunc Eu Ullamcorper Orci
//        p Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque.
//  .medium-4.columns
//    h4 Top Products
//    .media-object
//      .media-object-section
//        img.thumbnail(src='http://placehold.it/100x100')
//      .media-object-section
//        h5 Nunc Eu Ullamcorper Orci
//        p Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque.
//    .media-object
//      .media-object-section
//        img.thumbnail(src='http://placehold.it/100x100')
//      .media-object-section
//        h5 Nunc Eu Ullamcorper Orci
//        p Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque.
//    .media-object
//      .media-object-section
//        img.thumbnail(src='http://placehold.it/100x100')
//      .media-object-section
//        h5 Nunc Eu Ullamcorper Orci
//        p Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque.
//.callout.large.secondary
//  .row
//    .large-4.columns
//      h5 Vivamus Hendrerit Arcu Sed Erat Molestie
//      p
//        | Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed molestie augue sit.
//    .large-3.large-offset-2.columns
//      ul.menu.vertical
//        li
//          a(href='#') One
//        li
//          a(href='#') Two
//        li
//          a(href='#') Three
//        li
//          a(href='#') Four
//    .large-3.columns
//      ul.menu.vertical
//        li
//          a(href='#') One
//        li
//          a(href='#') Two
//        li
//          a(href='#') Three
//        li
//          a(href='#') Four
