-
  var items = [
  {
  "title":"Гарантия подлинности",
  "class":"top_bar_guarantee"
  },
  {
  "title":"Контроль качества",
  "class":"top_bar_quality"
  },
  {
  "title":"Система оплаты",
  "class":"top_bar_payment"
  },
  {
  "title":"Помощь и поддержка",
  "class":"top_bar_support"
  }
  ];
.top_bar_menu.hide-for-small-only.hide-for-medium-only
  .row
    ul.menu.columns
      for item in items
        li(class= item.class): a.text(href='#')= item.title
